body{
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
    background-color:black;
}
ul{
    list-style-type: none;
    display:flex;
    margin:0;
    padding:0;
    gap: 12px;

}
a{
    text-decoration:none;
    color:#84adab;
    font-style: italic;
}
img{
    display:flex;
}
h2{
    color:#9f97c7;
    text-align:center;
}
button{
    color:white; 
    background-color:#84adab;
    opacity:0.4;
    display:flex;
    border-radius:40px;
    justify-content:space-around;
    align-items:center;
    padding: 12px 18px;
    height:90px;
    width:150px;
}
.text{
    margin:6px;

}
.logo{
    width:50px;
    height:60px;
}
.footer,
.header{
    background-color:#1d4247;
    display:flex;
    align-items:center;
    padding:10px;
    border-radius: 25px;
    margin-top:12px;
    margin-right:8px;
    margin-left:8px;

}

.header{
    justify-content:space-between;
}
.footer{
    justify-content:center;
}
.container{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    padding:30px;
    gap:20px;
}
.lilbox{
    display:flex;
    justify-content:space-evenly;
    margin-top:30px;

}
.text-box{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    background-color: #9f97c7;
    border-radius:30px;
    width:350px;
    height: 250px;
    padding:20px;
    
}
.image-box{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 8px;
    color:blanchedalmond;
    font-weight:700;
    text-align:center;
    background-color: #393185;
    margin-bottom:40px;
}
.quote-box{
    position: relative;
    text-align: center;
    color:floralwhite;
}
.quote{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:large;
    font-weight:700;
    font-style:italic;
}

.medium{
    height:300px;
    width:250px;
}
.small{
    height:220px;
    width:220px;
    border-radius:80px;
}
.background{
    width:100%
}
